*{
    padding: 0; margin: 0;
}

.fondo{
    background-image: url("../img/esc.jpg");
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center;
    background-repeat: no-repeat;
    height: 900px;
}

.contenido {
    padding-top: 100px;
    padding-bottom: 100px;
    max-width: 500px;
    margin: auto;
}
.texto{
    text-align: center;
}

input{
    margin: auto;
}

h1{
    font-weight: 400;
    color: #FF9F24;
    line-height: 1.2;
    margin: 0 auto 20px;
    max-width: 640px;
    text-shadow: none;
}

h2{
    color: #FF9F24;
    margin-bottom: 30px;
}

p{
    margin: 15px auto 0 auto;
}

footer{
    width: 100%;
    padding: 50px 50px 50px 100px;
}

.descripcion{
    background-color: #2D9899;
}

.autor{
    background-color: #08CCA6;
}

.contacto{
    background-color: #64F2FF;
}

.form-control:focus {
    border-color: #F7CC38;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(247, 204, 56, 0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(247, 204, 56, 0.6);
}
