body {
    margin-top: 100px;
    background-color: #fff;
}

@media(min-width:768px) {
    body {
        margin-top: 50px;
    }
}

#wrapper {
    padding-left: 0;
}

#page-wrapper {
    width: 100%;
    padding: 0;
    background-color: #fff; /*fondo del trabajo*/
}

.huge {
    font-size: 50px;
    line-height: normal;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 225px;
    }

    #page-wrapper {
        padding: 10px;
    }
}

/*NAV BAR*/
.navbar {
    background-color: #2A7B6C;/*Color de todo el menu*/
    border: 0;/*quita el borde del menu*/
}

.navbar-default .navbar-brand {
    color: #A0CACC;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
    color: #fff; /*color de los <li> del menu de arriba en hover y focus*/
    background-color: #2A7B6C;/*color de fondo de los <li> del menu de arriba en hover y focus*/
}

/*Boton Toggle*/
.navbar-default .navbar-toggle {
    color: #A0CACC !important;
    border-color: #2A7B6C;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: transparent;/*color de fondo de los <li> del menu de arriba en hover y focus*/
}

/* Top Navigation */

.top-nav {
    padding: 0 15px;
}

.top-nav>li {
    display: inline-block;
    float: left;
}

.top-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px;
    color: #A0CACC; /*color de los <li> del menu de arriba*/
}

.top-nav>li>a:hover,
.top-nav>li>a:focus,
.top-nav>.open>a,
.top-nav>.open>a:hover,
.top-nav>.open>a:focus {
    color: #fff; /*color de los <li> del menu de arriba en hover y focus*/
    background-color: #41A497;/*color de fondo de los <li> del menu de arriba en hover y focus*/
}

.top-nav>.open> .dropdown-menu {
    float: left;
    position: absolute;
    margin-top: 0;
    border: 1px solid rgba(0,0,0,.15);/*color del borde de los dropdown*/
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #fff;/*fondo del color*/
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.top-nav>.open>.dropdown-menu>li>a {
    white-space: normal;
}

ul.message-dropdown {
    padding: 0;
    max-height: 250px;
    overflow-x: hidden;
    overflow-y: auto;
}

li.message-preview {
    width: 275px;
    border-bottom: 1px solid rgba(0,0,0,.15);
}

li.message-preview>a {
    padding-top: 15px;
    padding-bottom: 15px;
}

li.message-footer {
    margin: 5px 0;
}

ul.alert-dropdown {
    width: 200px;
}

/* Side Navigation */
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: transparent;
}

.navbar-default .navbar-nav>li>a {
    color: #A0CACC !important;/*color de los <li>*/
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    outline: none;
    color: #fff !important;/*color de los <li> de la barra izquierda en hover y focus*/
    background-color: #41A497 !important;/*fondo de los <li> de la barra izquierda en hover y focus*/
}

@media(min-width:768px) {
    .side-nav {
        position: fixed;
        top: 50px;
        left: 225px;
        width: 225px;
        margin-left: -225px;
        border-color: transparent;
        border-radius: 0;
        overflow-y: auto;
        background-color: #2A7B6C;/*fondo de color de la barra izquierda*/
        bottom: 0;
        overflow-x: hidden;
        padding-bottom: 40px;
        font-size: 1.3em;
    }

    .side-nav>li>a {
        width: 225px;
        /*color: #2D9899 !important;/*color de los <li>*/
    }

    .side-nav li a:hover,
    .side-nav li a:focus {
        outline: none;
        /*color: #FF9F24 !important;/*color de los <li> de la barra izquierda en hover y focus
        background-color: #2D9899 !important;/*fondo de los <li> de la barra izquierda en hover y focus*/
    }
}

.side-nav>li>ul {
    padding: 0;
}

.side-nav>li>ul>li>a {
    display: block;
    padding: 10px 15px 10px 38px;
    text-decoration: none;
    color: #A0CACC; /*color de los <li> del dropdown*/
    background-color: #2A7B6C;/*fondo del dropdown*/
}

.side-nav>li>ul>li>a:hover {
    color: #fff;
    background-color: #41A497;
}

/* Flot Chart Containers */

.flot-chart {
    display: block;
    height: 400px;
}

.flot-chart-content {
    width: 100%;
    height: 100%;
}

/* Custom Colored Panels */

.huge {
    font-size: 40px;
}

.panel-green {
    border-color: #5cb85c;
}

.panel-green > .panel-heading {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c;
}

.panel-green > a {
    color: #5cb85c;
}

.panel-green > a:hover {
    color: #3d8b3d;
}

.panel-red {
    border-color: #d9534f;
}

.panel-red > .panel-heading {
    border-color: #d9534f;
    color: #fff;
    background-color: #d9534f;
}

.panel-red > a {
    color: #d9534f;
}

.panel-red > a:hover {
    color: #b52b27;
}

.panel-yellow {
    border-color: #f0ad4e;
}

.panel-yellow > .panel-heading {
    border-color: #f0ad4e;
    color: #fff;
    background-color: #f0ad4e;
}

.panel-yellow > a {
    color: #f0ad4e;
}

.panel-yellow > a:hover {
    color: #df8a13;
}

/*INPUTS SELECTS*/
.form-control:focus {
    border: solid;
    border-color: #2A7B6C;
    border-radius: 5px;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    /*-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(247, 204, 56, 0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(247, 204, 56, 0.6);*/
}

#datosPersonal{
    display: none;
}

.activado{
    color: #fff !important;/*color de los <li> de la barra izquierda en hover y focus*/
    background-color: #41A497 !important;/*fondo de los <li> de la barra izquierda en hover y focus*/
}

/*.input-group-addon {
    background-color: transparent !important;
    border: none;
    border-radius: none;
}*/

/*RADIOS Y CHECKBOX*/
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:checked + .mujer {
    background-color: #FF66A5;/*E64C66*/
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/*BOTONES*/
.btn-primario {
    color: #fff;
    background-color: #52A6A8;
    border-color: #A0CACC;
}

.btn-primario:hover, .btn-primario:focus {
    color: #fff;
    background-color: #41A497;
    border-color: #A0CACC;
}

.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  border-radius: 35px;
  font-size: 24px;
  line-height: 1.33;
}

.btn-flotante {
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    cursor: pointer; /* Add a mouse pointer on hover */
}

/*PANELES*/
.panel-mipanel>.panel-heading{
    color: #fff;
    background-color: #71BCC8;
    border-color: #52A6A8;
}

.panel-mipanel{
    border-color: #52A6A8;
}

/*TABLAS*/
#Alumnos, #Docentes, #Paaes, #Externos {
    display: none;
}

#tbPacientes tbody tr {
    cursor: pointer;
}

hr{
    width: 90%;
    height: 2px;
    background-color: #2A7B6C;
    border: none;
}

